.platform-card {
  background: white;
  margin: 20px auto;
  max-width: 900px;
  border-radius: 16px;
  padding: 20px;
}

.platform-heading {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 14px;
  color: #111;
}

.blog-image,
.facebook-image,
.instagram-image {
  width: 100%;
  display: block;
  border-radius: 10px;
  object-fit: contain;
  object-position: left bottom;
  margin-bottom: 16px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #111;
}

.description {
  font-size: 15px;
  line-height: 1.7;
  color: #333;
  margin-bottom: 10px;
}

.read-more-btn {
  margin-left: auto;
  display: block;
  width: fit-content;
  background: #000104;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.read-more-btn:hover {
  opacity: 0.9;
}

.divider {
  height: 2px;
  background: linear-gradient(
    to right,
    transparent,
    #ddd,
    transparent
  );
  margin: 24px auto;
  max-width: 900px;
}